body{
margin:0;
font-family: 'Segoe UI', Arial, sans-serif;
background:#f5f6f8;
}


.header{
background:#000;
text-align:center;
padding:20px 20px 5px;
position: relative;
}

.header .logo{
width:170px;
}

.nome-loja{
color:#D4AF37;
font-size:30px;
font-weight:800;
margin-top:8px;
}


.nav-bar{
background:#dbd9d9;
padding:10px;
margin-top:0px;
text-align:center;
width:100%;
box-sizing:border-box;


position: sticky;
top: 0;
z-index: 1000;
box-shadow: 0 4px 10px rgba(0,0,0,.1);
}



.nav-bar a{
margin:0 32px;
text-decoration:none;
color:#000;
font-weight:600;
transition: transform .2s;
display:inline-block;
}

.nav-bar a:hover{
transform: scale(1.08);
}


.container{
max-width:1000px;
margin:auto;
background:white;
padding:25px 20px;
text-align:center;
}


.btn-whatsapp{
display:inline-block;
padding:14px 26px;
background:#25D366;
color:white;
font-weight:bold;
border-radius:10px;
text-decoration:none;
transition: transform .2s, box-shadow .2s;
}

.btn-whatsapp:hover{
transform: scale(1.08);
box-shadow: 0 10px 25px rgba(0,0,0,.15);
}


.processo{
margin:15px 0;
padding:10px 0;
}

.titulo-processo{
text-align:center;
margin-bottom:10px;
}

.passos{
display:grid;
grid-template-columns: repeat(4, 1fr);
gap:10px;
max-width:900px;
margin:auto;
}

.passo{
border:2px solid #FFD400;
border-radius:10px;
padding:8px;
text-align:center;
transition: transform .2s, box-shadow .2s;
}

.passo:hover{
transform: translateY(-5px);
box-shadow: 0 6px 15px rgba(0,0,0,.12);
}

.passo img{
width:70px;
}

.numero{
font-size:30px;
font-weight:900;
color:#D4AF37;
}


.servicos{
display:grid;
grid-template-columns: repeat(4, 1fr);
gap:12px;
margin-top:15px;
}

.card{
border-top:3px solid #000;
border-bottom:3px solid #000;
border-left:none;
border-right:none;
padding:10px;
transition: transform .2s, box-shadow .2s;
}

.card img{
width:100%;
max-width:170px;
height:auto;
display:block;
margin:0 auto 8px;
}

.card:hover{
transform: scale(1.05);
box-shadow: 0 8px 20px rgba(0,0,0,.12);
}


.slider-marcas{
overflow:hidden;
margin:20px 0;
}

.track-marcas{
display:flex;
animation: deslizar 12s linear infinite;
}

.marca-card{
min-width:160px;
margin:0 6px;
border-top:3px solid #000;
border-bottom:3px solid #000;
border-left:none;
border-right:none;
text-align:center;
padding:8px;
transition: transform .2s;
}

.marca-card img{
width:120px;
}

@keyframes deslizar{
from{ transform:translateX(0); }
to{ transform:translateX(-50%); }
}


.perfil{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
align-items:center;
margin-top:20px;
}

.perfil-card{
border:2px solid #b6b2a0;
border-radius:12px;
padding:6px;          
transition: transform .2s;
text-align:center;
}

.perfil-card img{
width:150px;          
border-radius:10px;
}


.cursos li{
list-style:none;
margin-bottom:10px;
padding:8px 10px;
border-radius:8px;
background: rgba(0,0,0,0.05); 
width:90%;
}



.instagram{
background:#7a91afbe;
padding:15px;
border-radius:0;
width: 100%;
box-sizing: border-box;
margin: 0;
}

footer{
background:#000;
color:rgb(255, 255, 255);
text-align:center;
padding:20px;
}


@media(max-width:600px){

.passos{
grid-template-columns: repeat(2, 1fr);
}

.servicos{
grid-template-columns: repeat(2, 1fr);
}

.perfil{
grid-template-columns:1fr;
}

.rodape-final{
  width:100%;
  background:#111;
  color:white;
  text-align:center;
  padding:25px 15px;
  margin-top:20px;
}

.rodape-social img:hover{
  transform: scale(1.15);
}

}

.rodape-social a img{
  width: 36px;
  height: auto;
  display:block;
}

.rodape-social{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  margin-bottom:12px;
  flex-direction: row; 
}

.btn-instagram{
display:inline-block;
padding:14px 26px;
background:#833AB4; 
color:white;
font-weight:bold;
border-radius:10px;
text-decoration:none;
transition: transform .2s, box-shadow .2s;
border: 2px solid #E1306C; 
}

.btn-instagram:hover{
transform: scale(1.08);
box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.btn-topo{
position: fixed;
bottom: 25px;
right: 20px;
background:#f7c12c;
color:white;
padding:10px 14px;
border-radius:8px;
text-decoration:none;
font-weight:600;
box-shadow: 0 6px 15px rgba(0,0,0,.2);
transition: transform .2s;
}

.btn-topo:hover{
transform: scale(1.08);
}
